@model NewsPlatform3.Models.User

<h1>Welcome to log in/sign up</h1>

@using (Html.BeginForm("Login","Login", FormMethod.Post))
{
    <div style="color:red;">@Html.ValidationSummary()</div>

    <span>Login </span>@Html.TextBoxFor(x => x.Login)<br />
    <span>Password </span>@Html.PasswordFor(x => x.Password)<br />

    <button type="submit">Submit</button>
}
