@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <div id="p_container">
        <img id="p1" src="~/img/news1.bmp"/>
        <img id="p2" src="~/img/news2.bmp"/>
        <img id="p3" src="~/img/news3.bmp"/>
    </div>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


